Django==4.2.7
Pillow==11.3.0
opencv-python==4.8.1.78
numpy==1.26.4
requests==2.32.4
python-decouple==3.8
django-crispy-forms==2.4
crispy-bootstrap5==2025.6
twilio==8.10.0
pytesseract==0.3.10
torch>=1.8.0
yolov5>=7.0.12
whitenoise==6.7.0
dj-database-url==2.2.0
gunicorn==22.0.0
psycopg2-binary==2.9.9 